sudo: required
services: 
- docker

before_install:
  - docker build -t eefth/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run eefth/react-test npm test -- --coverage

after_success:
  - docker build -t eefth/multi-client ./client
  - docker build -t eefth/multi-nginx ./nginx
  - docker build -t eefth/multi-server ./server
  - docker build -t eefth/multi-worker ./worker
# Log in to the docker cli
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
# Push images to docker hub
  - docker push eefth/multi-client
  - docker push eefth/multi-nginx
  - docker push eefth/multi-server
  - docker push eefth/multi-worker

deploy:
  provider: elasticbeanstalk
  region: eu-central-1
  app: multi-docker
  env: MutliDocker-env
  bucket_name: elasticbeanstalk-eu-central-1-955750545423
  bucket_path: docker-multi
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: 
    secure: $AWS_SECRET_KEY  
